<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Health</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
     .container{
       margin: 0 auto;
       height: 100%;
       width: 100%;
     }
    </style>
</head>
<body style =  "position: relative; min-height: 100vh; background: linear-gradient(#81DDF3, #A7E9F8, white);">
    <!--user nav bar at the top of the page-->
    <nav class="navbar navbar-inverse" style = "margin-bottom:0px">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/userHomepage" style = "font-size: 20px" >OneFit</a>
        </div>
        <div style = "font-size: 17px; float: right">
          <ul class="nav navbar-nav">
            <li><a href="/health">Health</a></li>
            <li><a href="/exercise">Exercise</a></li>
            <li><a href="/nutrition">Nutrition</a></li>
            <li><a href="/goals">Goals</a></li>
            <li><a href="/userAccount">Account</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    </div>
    <div class="container">
        <div style = "padding-left: 10%; padding-right: 10%; padding-top: 15px">
          <!--Form for submitting new health information-->
          <h3><b>Enter Your Health Data</b></h3>
            <form class="form-vertical" action="/health" method="POST" style = "padding-top: 5px">
                <div class="form-group">
                    <label>Height:</label>
                    <input type="text" class="form-control" name="height" placeholder="inches"/>
                </div>
                <div class="form-group">
                    <label>Weight:</label>
                    <input type="text" class="form-control" name="weight" placeholder="lbs"/>
                 </div>
                 <div class="form-horizontal">
                    <button type="submit" class="btn btn-primary mb-2">Save</button>
                    <p id=message style = "font-size: 15px; color: red"> {{message}} </p>
                 </div>
            </form>
        </div>
    </div>
    <!--Display most recent health information-->
    <div class="container" >
      <div style = "padding-left: 10%; padding-right: 10%; padding-top: 15px">
        <h3><b>Current Health Data</b></h3>
        <div style ="overflow: auto; float: left;left:0;top:0;padding: 3px">
            <label style="font-size: 20px">BMI: </label><td id="bmi">{{bmi}}</td><span id="bmidesc"></span><br>
            <label style="font-size: 19px">BMR: </label><td>{{bmr}}</td><td>   calories/day</td>
        </div>
        <div style ="overflow: auto; float: right;right:0;top:0;padding: 3px">
            <label style="">Age:</label><td>{{userage}}</td><br>
            <label style="">Height:</label><td>{{height}}</td><br>
            <label style="border: #333333">Current Weight:</label><td>{{weight}}</td><br>
        </div>
     </div>
    </div>
     <!--Chart for user weight data-->
     <div class="container">
       <div style = "padding-left: 10%; padding-right: 10%; padding-top: 15px">
        <h3><b>Track Your Weight</b></h3>
          <canvas id="weightChart" style = "width:100%; max-width:600px; margin-bottom:50px;"></canvas>
       </div>
    </div>
    <br><br>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script>
      // Prevent form resubmission
      if (history.replaceState) {
        history.replaceState(null, null, location.href);
      }

      // Find out the BMI range of the user and display it in the corresponding row-column
      var bmi = {{bmi}};
      var bmidesc = document.getElementById("bmidesc");
      if (bmi < 18.5) {
        bmidesc.innerText = "  Underweight";
      } else if (bmi >= 18.5 && bmi <= 24.9) {
        bmidesc.innerText = "  Normal";
      } else if (bmi >= 25 && bmi <= 29.9) {
        bmidesc.innerText = "  Overweight";
      } else {
        bmidesc.innerText = "  Obese";
      }

      // Line graph using Chart.js for tracking weight data
      new Chart("weightChart", {
        type: "line",
        data: {
           // x-axis has the dates of each data entry
           labels: [{% for weights in weightData %}
                    "{{weights.date}}", {% endfor %}],
           datasets: [{
              label: 'lb',
              fill: false,
              lineTension: 0,
              backgroundColor: "rgba(0,0,255,1.0)",
              borderColor: "rgba(0,0,255,0.1)",
              // y-axis has weights for each data entry
              data: [{% for weight in weightData %}
                     "{{weight.weight}}", {% endfor %}]
           }]
        },
        options: {
           // disable the default clicking functionality for the legend
           legend: {onClick: (e) => e.stopPropagation()},
           title: {display:true, text: 'Weight'}
        }
      });
    </script>
</body>
  <footer style = "background-color : #101010; height: 40px; position : fixed; bottom: 0; width: 100%">
    <p style = "text-align: center; font-size: 20px; color: gray;">OneFit</p>
  </footer>
</html>