<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Nutrition</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
</head>
<body style =  "position: relative; min-height: 100vh; background: linear-gradient(#81DDF3, #A7E9F8, white);">
    <nav class="navbar navbar-inverse" style = "margin-bottom:0px;">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/userHomepage" style = "font-size: 20px" >OneFit</a>
        </div>
        <div style = "font-size: 17px; float: right">
          <ul class="nav navbar-nav">
            <li><a href="/health">Health</a></li>
            <li><a href="/exercise">Exercise</a></li>
            <li><a href="/nutrition">Nutrition</a></li>
            <li><a href="/goals">Goals</a></li>
            <li><a href="/userAccount">Account</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <footer style = "background-color : #101010; height: 40px; position : absolute; bottom: 0; width: 100%">
     <p style="text-align: center; font-size: 20px; color: gray;">OneFit</p>
    </footer>
</body>
</html>